<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ВСЕ О МИРОВОМ ФУТБОЛЕ</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="head">
        <h1>ФУТБОЛ В МИРЕ!</h1>
        <img src="images/stadium-77878_960_720.jpg" width="400" height="600" alt="soccer">
        <img src="images/football-soccer-player-man-action-600w-2114748584.webp" width="400" height="600" alt="player">
        <img src="images/football-3373557_960_720.jpg" width="450" height="600" alt="football">
        <img src="images/pobeditel-chm-2018.jpg" width="500" height="600" alt="pobeditel-chm-2018">
        <p class="title">Согласно заявлению ФИФА, в 2001 году в футбол на планете играло около 250 миллионов человек.
            Из них более 20 миллионов — женщины. Зарегистрировано около 1,5 миллиона команд и 300 000 профессиональных клубов.
            В распределении по странам на первом месте по числу играющих в футбол США (примерно 18 миллионов, из которых 40 % женщины), затем идут Индонезия (10 миллионов), Мексика (7,4 миллиона), Китай (7,2 миллиона), Бразилия    (7миллионов), Германия (6,2миллиона), Бангладеш (5,2миллиона), Италия (4миллиона), Россия (3,8 миллиона).
            Однако количество футболистов в той или иной стране вовсе не говорит о качестве футбола в разных частях мира. Так, чемпионаты мира по футболу выигрывали исключительно европейские и южноамериканские сборные, а в Уругвае, который является двукратным победителем Кубка мира ФИФА, живёт меньше человек, чем в России зарегистрировано футболистов.
            В июле 2017 года Международная федерация футбола (ФИФА) заявила о планах к 2026 году увлечь футболом 60% населения Земли. В развитие футбола ФИФА намерена вложить 4 миллиарда долларов. </p>


    </header>
    <div>
        <section>
            <h2>СОРЕВНОВАНИЯ</h2>
            <p class="title">Соревнования по футболу, как и в любом другом виде спорта — важная составляющая игры.
                Соревнование организуется федерацией, для каждого турнира составляется регламент, в котором обычно определяют состав участников, схему турнира, правила определения победителя при равенстве очков и какие-то отклонения от правил, например количество замен.
                Соревнования делятся на внутренние и международные, которые в свою очередь разделяются на клубные и национальных сборных. Футбольные турниры собирают десятки тысяч зрителей на трибунах стадиона и многомиллионные аудитории по телевидению.</p>

        </section>
        <section>
            <h3>ПРОВОДИМЫЕ ФИФА</h3>
            <ul>
                <p><a href="https://yandex.ru/search/?clid=2296555&text=%D1%87%D0%B5%D0%BC%D0%BF%D0%B8%D0%BE%D0%BD%D0%B0%D1%82+%D0%BC%D0%B8%D1%80%D0%B0+%D0%BF%D0%BE+%D1%84%D1%83%D1%82%D0%B1%D0%BE%D0%BB%D1%83&lr=10309">ЧЕМПИОНАТ МИРА</a></p>
                <p><a href="https://yandex.ru/search/?clid=2296555&text=%D0%BB%D0%B8%D0%B3%D0%B0+%D0%BD%D0%B0%D1%86%D0%B8%D0%B9&lr=10309">ЛИГА НАЦИИ</a></p>
                <p><a href="https://copaamerica.com/en/">КУБОК АМЕРИКИ</a></p>
                <p><a href="https://yandex.ru/search/?clid=2296555&text=%D1%87%D0%B5%D0%BC%D0%BF%D0%B8%D0%BE%D0%BD%D0%B0%D1%82+%D0%B5%D0%B2%D1%80%D0%BE%D0%BF%D1%8B&lr=10309">ЧЕМПИОНАТ ЕВРОПЫ</a></p>
            </ul>
        </section>
        <form action="#">
            <input class="input"id="name" type="text" placeholder="Your name">
            <input class="input"id="email" type="email" placeholder="Your email">
            <button class="send=btn">OK</button>
        </form>
    </div>
    <footer>
        <h6>ИГРАЙТЕ В ФУТБОЛ</h6>
    </footer>
    </div>

</body>
</html>