<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My page!!!!</title>
</head>
<body>
<h1>Welcome to my page!!!</h1>
<img src="https://s1.1zoom.ru/big3/161/354192-admin.jpg" width="1900" height="1400" alt="BMW">
"<a href='https://www.a777aa77.ru/koenigsegg/2020-koenigsegg-jesko-11.jpg'>My super car</a>"
</body>
</html>
