{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulator_cat</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>

<body>
<h1>Hello welcome to the cat simulator, to continue you need to come up with a name for your cat</h1>
<form action="" method="Post">
    {% csrf_token %}

<label>
    <input type="text" required name="cat_name"/>
</label>

    <button type="submit">Create</button>
</form>



</body>

</html>